/chapter02/node_modules/*
/chapter03/node_modules/*
/chapter04/node_modules/*
/chapter05/node_modules/*
/chapter06/frontend/node_modules/*
/chapter06/admin-frontend/node_modules/*
/chapter06/backend/node_modules/*